@use "../variables";
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$staf-bg;
  color: variables.$staf-corporate;
}
.menunav {
  background-color: #015660;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  display: none;

  li {
    list-style: none;
    display: inline-block;
    padding: 20px 50px;
    margin: auto 30px;
    border-bottom: solid white 1px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .btn_x {
    font-size: 1.5rem;
    color: white;
    user-select: none;
    cursor: pointer;
    position: fixed;
    right: 20px;
  }
}
header {
  background-color: #015660;
  h1,p {
    color: white;
  }
}
.top_container {
  display: flex;
  justify-content: space-between;
}
.menu {
  font-size: 1.5rem;
  color: white;
  padding: 15px;
  user-select: none;
  cursor: pointer;
}
.socialmedias {
  width: 400px;
  height: 20px;
  background-color: #f7dc4f;
}
.staf-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.staf-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}

.staf-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$staf-corporate;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.staf-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
