@use "../variables";
* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
body {
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  // margin: 0;
  // padding: 20px;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 34px;
  // background-color: variables.$staf-bg;
  // color: variables.$staf-corporate;
}
.menunav {
  background-color: #015660;
  position: fixed;
  height: 100%;
  width: 100%;
  color: white;
  padding: 20px;
  display: none;
  // margin-right: 20px;
  li {
    text-align: center;
    list-style: none;
    display: block;
    padding: 20px 50px;
    margin:auto 80px;
    border-bottom: solid white 1px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  
  .btn_x {
    font-size: 1.5rem;
    color: white;
    user-select: none;
    cursor: pointer;
    position: relative;
    right: -350px;
  }
}
.miFoto {
    width: 100%;
    max-width: 430px;
    ;
  }
.bgazul {
  background-color: #015660;
  // max-width: 430px;
}
header {
  background-color: #c5c4c4;
  h1:first-of-type {
    color: #f7dc4f;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-weight: 400;
  }
  h1:nth-of-type(2),p{
    color: white;
    margin-left: 40px;
    margin-top: 25px;
  }
  h2 {
    text-align: center;
    padding: 20px;
  }
  figcaption {
    padding:20px;
  }
  .cvcompleto {
    text-decoration: none;
    background-color: #f7dc4f;
    width: fit-content;
    padding: 10px 50px;
    margin: 20px 80px;
    display: inline-block;    
  }
}
.top_container {
  display: flex;
  justify-content: space-between;
}
.menu {
  font-size: 1.5rem;
  color: white;
  padding: 20px 10px;
  user-select: none;
  cursor: pointer;
}
.socialmedias {
  height: 25px;
  background-color: #f7dc4f;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 40px;
  align-items: center;
}
// .staf-container {
//   max-width: 800px;
//   margin: auto;
//   padding: 2rem;
//   border-radius: 2rem;
//   text-align: center;
//   background-color: #fff;
//   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
//     0 2px 4px -1px rgba(0, 0, 0, 0.06);
// }
.nav_cv {
  position: absolute;
  top: 60px;
  background-color: #015660;
  left: -600px;
  h1,h2 {
    color: #f7dc4f;
  }
  li {
    list-style: none;
    display: inlinblock;
    color: white;
    margin: 15px auto;
  }
  li:nth-of-type(6) {
    margin-bottom: 35px;
    border-bottom: solid 1px white;
  }
}

.btn_x_cv {
  color: white;
  font-size: 2rem;
  position: relative;
  right: -360px;
  user-select: none;
  cursor: pointer;
}

#desinos {
  text-align: center;
  h3 {
    margin: 20px auto;
    color: #f7dc4f;
  }
}

// .staf-logo {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 1.5rem;
//   max-width: 200px;
//   height: auto;

//   @media (min-width: variables.$mqMinWidth) {
//     max-width: none;
//   }
// }

// .staf-title {
//   font-family: variables.$font-family-serif;
//   font-size: 24px;
//   font-weight: 700;
//   color: variables.$staf-corporate;

//   @media (min-width: variables.$mqMinWidth) {
//     font-size: 36px;
//   }
// }

// .staf-footer {
//   margin-top: 1.5rem;
//   font-size: 0.75rem;
//   text-align: center;
// }
