@use "../variables";
* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
body {
  // display: flex;
  // flex-direction: column;
  // height: 100vh;
  // margin: 0;
  // padding: 20px;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 34px;
  // background-color: variables.$staf-bg;
  // color: variables.$staf-corporate;
}
.menunav {
  background-color: #015660;
  position: fixed;
  height: 100%;
  width: 100%;
  color: white;
  padding: 20px;
  display: none;
li {
  text-align: center;
  list-style: none;
  display: block;
  padding: 20px 50px;
  margin:auto 80px;
  border-bottom: solid white 1px;
  a {
    text-decoration: none;
    color: white;
  }
}
  
.btn_x {
  font-size: 1.5rem;
  color: white;
  user-select: none;
  cursor: pointer;
  position: relative;
  right: -350px; 
}
}
.bgazul {
  background-color: #015660;
}
header {
  background-color: #c5c4c4;
  h1,p{
    color: white;
    margin-left: 40px;
    margin-top: 25px;
  }
  h2 {
    text-align: center;
    padding: 20px;
  }
  figcaption {
    padding:20px;
  }
  .cvcompleto {
    text-decoration: none;
    background-color: #f7dc4f;
    width: fit-content;
    padding: 10px 50px;
    margin: 20px 80px;
    display: inline-block;    
  }
}
.top_container {
  display: flex;
  justify-content: space-between;
}
.menu {
  font-size: 2.5rem;
  color: white;
  padding: 20px;
  margin-right: 20px;
  user-select: none;
  cursor: pointer;
}
.socialmedias {
  height: 25px;
  background-color: #f7dc4f;
  margin: 10px 40px;
  align-items: center;
}
// .staf-container {
//   max-width: 800px;
//   margin: auto;
//   padding: 2rem;
//   border-radius: 2rem;
//   text-align: center;
//   background-color: #fff;
//   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
//     0 2px 4px -1px rgba(0, 0, 0, 0.06);
// }
.nav_cv {
  position: absolute;
  top: 60px;
  padding: 40px;
  background-color: #015660;
  left: -600px;
  h1,h2 {
    color: #f7dc4f;
  }
  li {
    list-style: none;
    display:block;
    color: white;
    margin: 15px auto;
  }
  li:nth-of-type(6) {
    margin-bottom: 35px;
    border-bottom: solid 1px white;
  }
}

.btn_x_cv {
  color: white;
  font-size: 2rem;
  position: relative;
  right:100px;
  user-select: none;
  cursor: pointer;
}

#desinos {
  text-align: center;
  h3 {
    margin: 20px auto;
    color: #f7dc4f;
  }
}
.flexContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly ;
	align-items: center;
  figure {
   img {
    max-width: 327px;
   }
  }
}
#Contacto {
  background-color: #015660;
  h3 {
    font-size: 24px;
    padding: 30px;
    text-align: center;
    color: #f7dc4f;
  }
  h4 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
}
form {    		
  padding: 20px;  
  h3 {
    text-align: center;
    color: white;
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: 150;
  }
  label {
    color: white;        
  }
  input {
    display: block;
    background-color: #015660;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #c5c4c4;
    margin: 15px 0;       
  }
  input:focus {
    outline: 2px solid green ;
  }
  textarea {
    padding: 60px 100px;
    border-radius: 10px;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    border:2px solid #c5c4c4;
    background-color: #015660;	
  }
  textarea:focus {
    outline: 2px solid green;
  }
  input[type="submit"] {
    background-color:#015660 ;
    color: white;
    width: 200px;
    border-radius: 30px;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;
    margin: 5px auto;
  }
  ::placeholder {
    color: #8DCCA9;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}
footer {
  text-align: center;
  color: #015660;
  padding: 80px;
}
footer a {
  text-decoration: none;
  color: white;
}
@media (min-width: 500px) {
.menunav {
  position: initial;
  display: flex;
  justify-content: space-evenly;
  li {
   display: inline-block;
   margin:auto;
   border-bottom: none;
  }
 .btn_x {
  display: none;
 }
}
.bgazul {
  background-color: #015660;
}
header {
  background-color: #c5c4c4;
  h1,p{
    color: white;
    margin-left: 40px;
    margin-top: 25px;
  }
  h2 {
    text-align: center;
    padding: 20px;
  }
  figcaption {
    padding:20px;
  }
  .cvcompleto {
    text-decoration: none;
    background-color: #f7dc4f;
    width: fit-content;
    padding: 10px 50px;
    margin: 20px 80px;
    display: inline-block;    
  }
}
.top_container {
  display: flex;
  justify-content: space-between;
}
.menu {
  font-size: 1.5rem;
  color: white;
  padding: 20px 10px;
  user-select: none;
  cursor: pointer;
  display: none;
}
.socialmedias {
  height: 25px;
  background-color: #f7dc4f;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 40px;
  align-items: center;
}
}

nav_cv {
  position: absolute;
  top: 60px;
  background-color: #015660;
  left: -600px;
  h1,h2 {
    color: #f7dc4f;
  }
  li {
    list-style: none;
    display: inlinblock;
    color: white;
    margin: 15px auto;
  }
  li:nth-of-type(6) {
    margin-bottom: 35px;
    border-bottom: solid 1px white;
  }
}

.btn_x_cv {
  color: white;
  font-size: 2rem;
  position: relative;
  right: -360px;
  user-select: none;
  cursor: pointer;
}

#desinos {
  text-align: center;
  h3 {
    margin: 20px auto;
    color: #f7dc4f;
  }
}
.flexContainer {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	gap: 25px;
  figure {
    flex: 1 1 300px;
  }
}
#Contacto {
  form {
  max-width: 600px; 
  margin: 10px auto; 
  } 
}
.flecha {
			background-color:#f7dc4f;
      // display: block;
      // box-sizing: border-box;
      width: 15px;
      height: 25px;
      padding: 0 0 10px 0;
      border-radius: 50%;
			color: #015660;
      font-size: 1.5rem;
			text-decoration: none;
			position: fixed;
			bottom: 10px;
			right: 10px;        
      text-align: center; 

		}
.flecha:hover {
  transform:scale(1.2);
}
  

// .staf-logo {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 1.5rem;
//   max-width: 200px;
//   height: auto;

//   @media (min-width: variables.$mqMinWidth) {
//     max-width: none;
//   }
// }

// .staf-title {
//   font-family: variables.$font-family-serif;
//   font-size: 24px;
//   font-weight: 700;
//   color: variables.$staf-corporate;

//   @media (min-width: variables.$mqMinWidth) {
//     font-size: 36px;
//   }
// }

// .staf-footer {
//   margin-top: 1.5rem;
//   font-size: 0.75rem;
//   text-align: center;
// }
